<section class="feachers">
    <div class="feachers-title">
        <h1 class="hid-h1">قابلیت های ویژه بانواز</h1>
    </div>
    <div class="feachers-item">
        <div class="feachers-item-content">
            <img src="/asset/image/cat.png" alt="">
            <p>سنسورهایی که برای حیوان های خانگی شما نصب میشن می تونن با هوش مصنوعی گرسنه بودن اون رو تشخیص بدن.</p>
        </div>
        <div class="feachers-item-content">
            <img src="/asset/image/flower.png" alt="">
            <p>با محاسبه حرارت اطراف خاک گیاهان میشه فهمید کی باید دوباره به گیاه ها اب بدی.</p>
        </div>
        <div class="feachers-item-content">
            <img src="/asset/image/elec.png" alt="">
            <p>میتونی مدت زمان روشن بودن دستگاه های الکتریکی رو کنترل کنی. یا حتی برای روشن بودن اونها از بانواز کمک
                بگیری.</p>
        </div>
        <div class="feachers-item-content">
            <img src="/asset/image/door.png" alt="">
            <p>باز و بسته شدن درب ها و پنجره ها، تشخیص حضور انسان و کلی قابلیت دیگه در سنسورهای بانواز!</p>
        </div>
    </div>
</section>