<section class="footer">
    <div class="footer-up">
        <div class="footer-up-links">
            <ul class="footer-up-links-items">
                <li><a href="#">بانواز</a></li>
                <li><a href="#">خانه</a></li>
                <li><a href="#">فروشگاه</a></li>
                <li><a href="#">ورود به داشبورد</a></li>
            </ul>
        </div>
        <div class="footer-up-links">
            <ul class="footer-up-links-items">
                <li><a href="#">فروشگاه</a></li>
                <li><a href="#">دستگاه مرکزی</a></li>
                <li><a href="#">سنسورهای داخلی</a></li>
                <li><a href="#">سنسورهای خارجی</a></li>
            </ul>
        </div>
        <div class="footer-up-links">
            <ul class="footer-up-links-items">
                <li><a href="#">بانواز</a></li>
                <li><a href="#">درباره بانواز</a></li>
                <li><a href="#">وبلاگ</a></li>
                <li><a href="#">موقعیت های شغلی</a></li>
                <li><a href="#">تماس با ما</a></li>
            </ul>
        </div>
        <div class="footer-up-icons">
            <h2>دانلود اپلیکیشن</h2>
            <a href="#"><img src="/asset/image/Google Play Badge.png" alt=""></a>
            <a href="#"><img src="/asset/image/App Store Badge.png" alt=""></a>
        </div>
    </div>
    <div class="footer-down">
        <div class="footer-down-icons">
            <a href="">
                <div><img src="/asset/image/youtube.png" alt=""></div>
            </a>
            <a href="">
                <div><img src="/asset/image/twitter.png" alt=""></div>
            </a>
            <a href="">
                <div><img src="/asset/image/dribble.png" alt=""></div>
            </a>
            <a href="">
                <div><img src="/asset/image/insta.png" alt=""></div>
            </a>
        </div>
        <div class="footer-down-content">
            <p>تمامی حقوق متعلق به بانواز می باشد</p>
        </div>
    </div>
</section>