<section class="icon">
    <div class="icon-div">
        <a class="icon-img" href="#">
            <img src="/asset/image/Vector.svg" alt="">
        </a>
        <p>درب و پنجره</p>
    </div>
    <div class="icon-div">
        <a class="icon-img" href="#">
            <img src="/asset/image/Vector2.svg" alt="">
        </a>
        <p>گل و گیاه</p>
    </div>
    <div class="icon-div">
        <a class="icon-img" href="#">
            <img src="/asset/image/Vector3.svg" alt="">
        </a>
        <p>وسایل برقی</p>
    </div>
    <div class="icon-div">
        <a class="icon-img" href="#">
            <img src="/asset/image/Vector (1).svg" alt="">
        </a>
        <p>روشنایی</p>
    </div>
    <div class="icon-div">
        <a class="icon-img" href="#">
            <img src="/asset/image/Vector (2).svg" alt="">
        </a>
        <p>گرمایی</p>
    </div>
    <div class="icon-div">
        <a class="icon-img" href="#">
            <img src="/asset/image/Vector (3).svg" alt="">
        </a>
        <p>حیوانات</p>
    </div>
</section>